.App{
  margin-left: 600px;
  margin-top: 50px;
}


.black{
  color:black;
  font-family: inherit;
  
}

.white{
  color:#fafafa;
}

button{
  border:none;
  width:120px;
  height: 50px;
  outline: none;
  color:white;
  background-color: red;
  font-size: 20px;
}
p{
  margin: 0px;
  font-size: 15px;

}
.Boton-green{
  background-color: chartreuse;
}
